<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <!--<div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>-->
      
      <!-- edit form column -->
      <div class="col personal-info">
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="first_name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="last_name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Age:</label>
            <div class="col-lg-8">
              <input class="form-control" type="number" name="age">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Gender</label>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col">
                        <label><input type="radio" name="gender" checked>Male</label>
                    </div>
                    <div class="col">
                        <label><input type="radio" name="gender">Female</label>
                    </div>
                </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Address Line 1:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="address1">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Address Line 2:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="address2">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Pincode</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="pincode">
            </div>
          </div>

            <div class="form-group">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col">
                        <label class="col-lg-3 control-label">City</label>
                        <input class="form-control" type="text" name="city">
                    </div>
                    <div class="col">
                        <label class="col-lg-3 control-label">State</label>
                        <input class="form-control" type="text" name="state">
                    </div>
                    <div class="col">
                        <label class="col-lg-3 control-label">Country</label>
                        <input class="form-control" type="text" name="country">
                    </div>
                </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
